<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
    
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%=lan.Add%> <%= lan.User %></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                    <li class="breadcrumb-item active"><%=lan.Add%> <%= lan.User %></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation" id="add_lab_home_collect_user" novalidate="" action="/lab/add_lab_collect_data" method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Name%></label>
                                        <input class="form-control docin" type="text" name="name" placeholder="<%=lan.Enter%> <%=lan.Name%>" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Email%></label>
                                        <input class="form-control docin" id="lab_col_email" type="email" name="email" placeholder="<%=lan.Enter%> <%=lan.Email%>" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Phone%> <%=lan.Number%>.</label>
                                        <div class="row">
                                            <div class="col-4">
                                                <select class="js-example-basic-single docin" id="lab_col_code" name="country_code" required>
                                                    <option value selected disabled><%=lan.Select%> <%=lan.Country%></option>
                                                    <% CountryCode.forEach((data, x) => { %>
                                                        <option value="<%= data %>"> <%= nameCode[x] %> <%= data %> </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control docin" id="lab_col_number" type="number" name="phone" placeholder="<%=lan.Enter%> <%=lan.Phone%> <%=lan.Number%>." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Password%></label>
                                        <input class="form-control docin" type="password" name="password"  required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <div class="d-flex mb-2 mt-4">
                                            <div class="icon-state switch-outline">
                                              <label class="switch">
                                                <input type="checkbox" name="status"><span class="switch-state bg-success"></span>
                                              </label>
                                            </div>
                                            <label class="col-form-label m-l-10"><%=lan.Status%></label>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-danger d-none mt-3" id="detail_error"><%=lan.Please_Enter_All_Detail%>.</p>
                                        <p class="text-danger d-none mt-1" id="detail_email_error"><%=lan.This_Email_Id_Already_Registered%>.</p>
                                        <p class="text-danger d-none mt-1" id="detail_phone_error"><%=lan.This_Phone_No_Already_Registered%>.</p>
                                    </div>
                                </div>
                            </form>
                            <div class="text-end mt-5">
                                <button class="btn btn-square btn-primary btn-air-primary add_detail_btn b-r-10" id="lab_add_user_btn" type="submit"><%=lan.Submit%></button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

        <%- include('./partials/footer'); -%>
        <%- include('./partials/script'); -%>
  </body>
</html>