<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%= lan.Add %> <%= lan.Dynamic %> <%= lan.Section %></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                    <li class="breadcrumb-item active"><%= lan.Add %> <%= lan.Dynamic %> <%= lan.Section %></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation" novalidate="" action="/dynamic/add_data" method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Title%></label>
                                        <input class="form-control" id="customet_name" type="text" name="name" placeholder="<%=lan.Enter%> <%=lan.Title%>" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%= lan.Status %></label>
                                        <select class="js-example-basic-single" name="status" required>
                                            <option value selected disabled><%=lan.Select%> <%= lan.Status %></option>
                                            <option value="1"><%= lan.Active %></option>
                                            <option value="0"><%= lan.Deactive %></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Module%> <%=lan.List%></label>
                                        <select class="js-example-basic-single" id="updymod" name="module" data-select="<%=lan.Select%>" data-location="<%=lan.Location%>" 
                                          data-nearest="<%=lan.Nearest%>" data-all="<%=lan.All%>" data-hospital="<%=lan.Hospital%>" data-department="<%=lan.Department%>" 
                                          data-list="<%=lan.List%>" data-type="<%=lan.Type%>" data-category="<%=lan.Category%>" required>
                                            <option value selected disabled><%=lan.Select%> <%=lan.Module%> <%=lan.List%></option>
                                            <option value="Hospital"><%=lan.Hospital%></option>
                                            <option value="Doctor"><%=lan.Doctor%></option>
                                            <option value="Lab"><%=lan.Lab%></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group" id="updynsec">
                                    </div>
                                </div>
                                <div class="text-end mt-5">
                                    <button class="btn btn-square btn-primary btn-air-primary add_detail_btn b-r-10" type="submit"><%=lan.Submit%></button> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

        <%- include('./partials/footer'); -%>
        <%- include('./partials/script'); -%>
  </body>
</html>