<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
    
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%=lan.Add%> <%=lan.Awards_and_Achievement%></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                    <li class="breadcrumb-item active"><%=lan.Add%> <%=lan.Awards_and_Achievement%></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid search-page">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                          <form  class="needs-validation" id="sitter_adpet_form" novalidate="" action="/user/add_doc_award" method="post" enctype="multipart/form-data">
                              <div class="row">
                                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center form-group">
                                    <img id="file-preview" width="150" height="150" src="../images/dashboard/default/profile.png" alt="image">
                                  </div>
                                  <div class="row mt-3">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Upload%> <%=lan.img%></label>
                                        <input class="form-control pet_input_check" style="height: 47px;" type="file" name="image" accept="image/*" onchange="showPreview(event)" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Title%></label>
                                        <input class="form-control pet_input_check" type="text" name="title" placeholder="<%=lan.Enter%> <%=lan.Title%>" required>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin-top: 20px;">
                                      <div class="d-flex">
                                        <div class="icon-state switch-outline">
                                          <label class="switch">
                                            <input type="checkbox" name="status"><span class="switch-state bg-success"></span>
                                          </label>
                                        </div>
                                        <label class="form-label m-l-10"><%=lan.Status%></label>
                                      </div>
                                    </div>
                                    
                                  </div>
                              </div>
                              <div class="text-end mt-3">
                                <button class="btn btn-square btn-primary btn-air-primary add_detail_btn b-r-10" type="submit"><%=lan.Submit%></button> 
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

        <%- include('./partials/footer'); -%>
        <%- include('./partials/script'); -%>
  </body>
</html>