<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
    
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%=lan.Product%> <%=lan.List%></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                    <li class="breadcrumb-item active"><%=lan.Product%> <%=lan.List%></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-end pb-0">
                            <a class="btn btn-square btn-primary b-r-10" type="button" href="/user/add_product"><%=lan.Add%> <%=lan.Product%></a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive theme-scrollbar">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%=lan.Image%></th>
                                            <th><%=lan.Product%> <%=lan.Name%></th>
                                            <th><%=lan.Subcategory%></th>
                                            <th><%=lan.Status%></th>
                                            <th><%=lan.Action%></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% var i = 1 %>
                                        <% subdata_data.forEach((data) => { %>
                                            <tr>
                                                <td><%= i %></td>
                                                <td class="p-1">
                                                    <% if(data.product_image == null){ %>
                                                      <img width="50px" height="50px" src="../images/dashboard/default/profile.png" alt="image">
                                                    <% } else { %>
                                                      <img width="50px" height="50px" src="../../<%= data.product_image %>" alt="image">
                                                    <% }; %>
                                                </td>
                                                <td><%= data.product_name %></td>
                                                <td><%= data.subser_name %> (<%= data.category_name %>)</td>
                                                <td>
                                                  <% if (data.status == '1') { %>
                                                      <span class="badge badge-success"><%=lan.Active%></span>
                                                  <% } else { %>
                                                      <span class="badge badge-danger"><%=lan.Deactive%></span>
                                                  <% } %>
                                                </td>
                                                <td>
                                                    <ul class="action"> 
                                                      <li class="edit"> <a href="/user/edit_product/<%= data.id %>"><i class="icon-pencil-alt"></i></a></li>
                                                      <li class="delete"><a href="/user/delete_product_data/<%= data.id %>"><i class="icon-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <% i++ %>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

    <%- include('./partials/footer'); -%>
    <%- include('./partials/script'); -%>
  </body>
</html>