<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
    <style>
      .preview-image {
          border: 2px solid grey;
          border-radius: 5px; /* Optional: adds rounded corners */
      }
    </style>
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%=lan.Edit%> <%=lan.Product%></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                    <li class="breadcrumb-item active"><%=lan.Edit%> <%=lan.Product%></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid search-page">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header d-flex justify-content-end pb-0">
                        <button class="btn btn-square btn-primary b-r-10" id="add_other_image" type="button"><%=lan.Add%> <%=lan.Image%></button>
                      </div>
                        <div class="card-body">
                          <form class="needs-validation" id="edit_pro_form" novalidate="" action="/user/edit_product_data/<%=product.id%>" method="post" enctype="multipart/form-data">
                              <div class="row">
                                  <div class="col-12 text-center" id="file-preview-container">
                                    <div class="row" id="image-grid">
                                      <% if (product.product_image[0] != '') { %>
                                        <% product.product_image.forEach(function(img, i){ %>
                                          <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 form-group" id="main_pimage">
                                            <img class="m-2 p-1" id="show_pimage" width="150" height="150" src="../../<%=img%>" alt="image">
                                            <div class="d-flex">
                                              <input class="form-control" id="pimage_input" style="height: 48px;" type="file" accept="image/*" name="image">
                                              <input class="img_check_p" type="hidden" id="del_img_val" value="<%=img%>">
                                              <i class="icon-trash f-18 mt-3 m-l-10" id="delete_pimage" style="color: red;"></i>
                                            </div>
                                          </div>
                                        <% }) %>
                                      <% }; %>
                                    </div>
                                    <input type="hidden" id="prod_id" value="<%=product.id%>">
                                  </div>
                                  <div class="row mt-4">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                      <label class="col-form-label"><%=lan.Subservice%> <%=lan.Name%></label>
                                      <input class="form-control img_check" type="text" name="product_name" value="<%=product.product_name%>" placeholder="<%=lan.Enter%> <%=lan.Subservice%> <%=lan.Name%>">
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                      <label class="col-form-label"><%=lan.Subcategory%> <%=lan.List%></label>
                                      <select class="js-example-basic-single img_check" name="sub_category_id">
                                        <option value selected disabled><%=lan.Subcategory%> <%=lan.List%></option>
                                        <% subser_data.forEach(function(sdata){ %>
                                        <option value="<%=sdata.id%>"  <%= product.sub_category_id == sdata.id ? 'selected' : '' %>><%=sdata.name%> (<%=sdata.sname%>)</option>
                                        <% }) %>
                                      </select>
                                    </div>
                                    <div class="col-12 form-group">
                                      <label class="col-form-label"><%=lan.Subcategory%> <%=lan.List%></label>
                                      <textarea class="form-control img_check" name="description" rows="5" id=""><%=product.description%></textarea>
                                    </div>


                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                      <label class="col-form-label">><%= lan.Medicine_Type %></label>
                                      <input class="form-control" type="text" name="pro_type" value="<%=product.pro_type%>" placeholder="<%=lan.Enter%> <%= lan.Medicine_Type_Example %>" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                      <label class="col-form-label"><%= lan.Prescription_Required %></label>
                                      <select class="js-example-basic-single" name="prescription_require" required>
                                        <option value selected disabled><%=lan.Select%> <%= lan.Prescription %> <%=lan.Status%></option>
                                        <option value="Required" <%= product.prescription_require == 'Required' ? 'selected' : '' %>><%= lan.Required %></option>
                                        <option value="Unrequired" <%= product.prescription_require == 'Unrequired' ? 'selected' : '' %>><%= lan.Unrequired %></option>
                                      </select>
                                    </div>

                                    <div class="text-end">
                                      <a class="btn btn-primary btn-square b-r-10" id="addmppbtn" data-price="<%= lan.Price %>" data-title="<%= lan.Title %>" data-enter="<%= lan.Enter %>" 
                                        data-base="<%= lan.Base %>" data-price_d="<%= lan.Price_Unit_Example %>" data-offer="<%= lan.Offer %>" data-discount="<%= lan.Discount %>">
                                        <%=lan.Add%> <%=lan.Price%> <%=lan.Field%></a>
                                    </div>
                                    <div class="col-12" id="addmorep">

                                      <% product.price_detail.forEach(function(pp, index){ %>

                                        <% if (index == 0) { %>
                                          <div class="row" id="delmorep">

                                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 form-group">
                                              <label class="col-form-label"><%=lan.Price%> <%=lan.Title%></label>
                                              <input class="form-control" type="text" name="price_title" value="<%=pp.title%>" placeholder="<%= lan.Price_Unit_Example %>" required>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-3 form-group">
                                              <label class="col-form-label"><%= lan.Base %> <%=lan.Price%></label>
                                              <input class="form-control" type="number" name="base_price" value="<%=pp.base_price%>" placeholder="<%=lan.Enter%> <%= lan.Base %> <%=lan.Price%>" required>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-3 form-group">
                                              <label class="col-form-label"><%= lan.Offer %> <%=lan.Price%></label>
                                              <input class="form-control" type="number" name="price" value="<%=pp.price%>" placeholder="<%=lan.Enter%> <%= lan.Offer %> <%=lan.Price%>" required>
                                            </div>
                                            <div class="col-sm-11 col-md-6 col-lg-2 col-xl-2 form-group">
                                              <label class="col-form-label"><%= lan.Discount %></label>
                                              <input class="form-control" type="number" name="discount" value="<%=pp.discount%>" placeholder="<%=lan.Enter%> <%= lan.Discount %>" required>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 form-group" style="margin-top: 43px;">
                                            </div>
                                          </div>

                                        <% } else { %>

                                          <div class="row" id="delmorep">
                                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 form-group">
                                              <label class="col-form-label"><%=lan.Price%> <%=lan.Title%></label>
                                              <input class="form-control" type="text" name="price_title" value="<%=pp.title%>" placeholder="<%= lan.Price_Unit_Example %>" required>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-3 form-group">
                                              <label class="col-form-label"><%= lan.Base %> <%=lan.Price%></label>
                                              <input class="form-control" type="number" name="base_price" value="<%=pp.base_price%>" placeholder="<%=lan.Enter%> <%= lan.Base %> <%=lan.Price%>" required>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-3 form-group">
                                              <label class="col-form-label"><%= lan.Offer %> <%=lan.Price%></label>
                                              <input class="form-control" type="number" name="price" value="<%=pp.price%>" placeholder="<%=lan.Enter%> <%= lan.Offer %> <%=lan.Price%>" required>
                                            </div>
                                            <div class="col-sm-11 col-md-6 col-lg-2 col-xl-2 form-group">
                                              <label class="col-form-label"><%= lan.Discount %></label>
                                              <input class="form-control" type="number" name="discount" value="<%=pp.discount%>" placeholder="<%=lan.Enter%> <%= lan.Discount %>" required>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 form-group" style="margin-top: 43px;">
                                              <a type="button" class="mx-4 text-danger delpprow"><i class="fa fa-trash-o f-24"></i></a>
                                            </div>
                                          </div>

                                        <% } %>

                                      <% }) %>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                      <div class="d-flex" style="padding-top: 40px;">
                                        <div class="icon-state switch-outline">
                                          <label class="switch">
                                            <input type="checkbox" name="status" <%= product.status == '1' ? 'checked' : '' %>><span class="switch-state bg-success"></span>
                                          </label>
                                        </div>
                                        <label class="col-form-label m-l-10"><%=lan.Status%></label>
                                      </div>
                                    </div>
 
                                  </div>
                                  <div class="text-center">
                                    <p class="text-danger d-none mt-3" id="sitter_pet_detail"><%=lan.Please_Enter_All_Detail%>.</p>
                                </div>
                              </div>
                            </form>
                            <div class="text-end mt-3">
                              <button class="btn btn-square btn-primary btn-air-primary add_detail_btn b-r-10" id="edit_product" type="submit"><%=lan.Submit%></button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

        <%- include('./partials/footer'); -%>
        <%- include('./partials/script'); -%>
  </body>
</html>