<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
    
    <style>
      .hand-hover {
        cursor: pointer;
      }
    </style>
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                    <h3><%= lan.My %> <%=lan.Wallet%></h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                        <li class="breadcrumb-item active"><%= lan.My %> <%=lan.Wallet%></li>
                    </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid dashboard-2">
            <div class="row">
              <div class="col-lg-3 col-md-6 box-col-3">
                <div class="card profit-card hand-hover">
                  <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                      <div class="flex-grow-1">
                        <p class="square-after f-w-600 header-text-primary"><%= lan.Total_Balance %><i class="fa fa-circle"> </i></p>
                        <h4 class="invosymbol"><%= lab[0].wallet%></h4>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="profit-wrapper header-text-success"></div>
                        </div>
                    </div>
                    <div class="right-side icon-right-primary"><i class="fa fa-money"></i>
                      <div class="shap-block">
                        <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 box-col-3">
                <div class="card sell-card hand-hover" id="lwpareq" data-wa="<%= lab[0].tot_payout%>" data-mwa="<%= lab[0].lab_min_withdraw%>">
                  <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                      <div class="flex-grow-1">
                        <p class="square-after f-w-600 header-text-success"><%= lan.Withdraw %><i class="fa fa-circle"> </i></p>
                        <h4 class="invosymbol"><%= lab[0].tot_payout%></h4>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1 align-items-center">
                            <div class="profit-wrapper header-text-success icon-bg-success"><i class="fa fa-arrow-up f-12"></i></div>
                            <h6 class="header-text-success f-12 f-w-500"><%= lan.Click_To_Withdraw %></h6>
                        </div>
                    </div>
                    <div class="right-side icon-right-success"><i class="fa fa-money"></i>
                      <div class="shap-block">
                        <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="col-lg-3 col-md-6 box-col-3" href="/lab/cash_management">
                <div class="card visitor-card">
                  <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                      <div class="flex-grow-1">
                        <p class="square-after f-w-600 header-text-info"><%= lan.Cash_Management %><i class="fa fa-circle"> </i></p>
                        <h4 class="invosymbol"><%= lab[0].cash_amount%></h4>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1 align-items-center">
                            <div class="profit-wrapper header-text-info icon-bg-info"><i class="fa fa-arrow-up f-12"></i></div>
                            <h6 class="header-text-info f-12 f-w-500"><%= lan.Open_Cash_Management %></h6>
                        </div>
                    </div>
                    <div class="right-side icon-right-info"><i class="fa fa-money"></i>
                      <div class="shap-block">
                        <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="col-lg-3 col-md-6 box-col-3" href="/lab/payout_history">
                <div class="card sell-card">
                  <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                      <div class="flex-grow-1">
                        <p class="square-after f-w-600 header-text-secondary"><%= lan.Payout_History %><i class="fa fa-circle"> </i></p>
                        <h4 class="invosymbol"><%= lab[0].success_payout%></h4>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1 align-items-center">
                            <div class="profit-wrapper header-text-secondary icon-bg-secondary"><i class="fa fa-arrow-up f-12"></i></div>
                            <h6 class="header-text-secondary f-12 f-w-500"><%= lan.Open_Payout_History %></h6>
                        </div>
                    </div>
                    <div class="right-side icon-right-secondary"><i class="fa fa fa-money"></i>
                      <div class="shap-block">
                        <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>


            </div>
          </div>





          <div class="container-fluid">
            <div class="row">

              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                        <table class="display" id="basic-1">
                            <thead>
                                <tr>
                                  <th class="d-none">#</th>
                                  <th><%= lan.ID %></th>
                                  <th><%= lan.Earning %></th>
                                  <th><%= lan.Admin_Fee %></th>
                                  <th><%= lan.Total_Amount %></th>
                                  <th><%= lan.Payment_Type %></th>
                                  <th><%= lan.Appointment_Date %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i = 1 %>
                                <% all_data.forEach((data) => { %>
                                    <tr>
                                        <td class="d-none"><%= i %></td>
                                        <td>#<%= data.id %></td>
                                        <td>
                                          <% if (data.status_type == 'completed') { %>
                                            <span class="text-success">+<span class="invosymbol"><%= data.tot_earning%></span></span>
                                          <% } else { %>
                                            <span class="text-danger">-<span class="invosymbol"><%= data.tot_earning%></span></span>
                                          <% }; %>
                                        </td>
                                        <td class="invosymbol"><%= data.site_commission %></td>
                                        <td class="invosymbol"><%= data.tot_price %></td>
                                        <td>
                                          <% if (data.p_name != '' && data.wallet_status == 1) { %>
                                            <span><%= data.p_name %>, <%=lan.Wallet%></span>
                                          <% } else if (data.p_name != '' && data.wallet_status == 0) { %>
                                            <span><%= data.p_name %></span>
                                          <% } else if (data.p_name == '' && data.wallet_status == 1) { %>
                                            <span><%=lan.Wallet%></span>
                                          <% } %>
                                        </td>
                                        <td><%= data.date %></td>
                                    </tr>
                                <% i++ %>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>



        <div class="modal fade" id="paymentsucc" tabindex="-1" role="dialog" aria-labelledby="paymentsucc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><%= lan.Add_Payout_Request %></h5>
                        <button class="btn-close" id="lbreportcashcan" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form  class="needs-validation" id="lwawform" novalidate="" action="/lab/web_wallet_withdraw" method="post">
                      <div class="modal-body">
                        <div class="row g-3">
                          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <span><%= lan.Withdraw_Amount %> :</span>
                            <p class="invosymbol" id="dwmwaid">0</p>
                          </div>
                          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <span><%= lan.Minimum_Withdraw_Amount %> :</span>
                            <p class="invosymbol" id="dmwmodelwam">0</p>
                          </div>
                          <div class="col-12 mt-0">
                            <input class="form-control lwainput dwinc" type="number" name="Withdraw_amount" placeholder="<%=lan.Enter%> <%=lan.Amount%>" required>
                            <div class="text-danger mt-0 text-center d-none" id="clapcanreas"></div>
                          </div>
                          <div class="col-12 mt-2">
                            <label class="col-form-label"><%= lan.Select_Payment_Type %></label>
                            <select class="js-example-basic-single dwinc" id="lwptcid" name="payment_type" required>
                              <option value selected disabled><%= lan.Payment_Type %> <%=lan.List%></option>
                              <option value="UPI"><%= lan.UPI %></option>
                              <option value="Paypal"><%= lan.Paypal %></option>
                              <option value="BANK Transfer"><%= lan.BANK_Transfer %></option>
                            </select>
                          </div>
                          <div class="col-12 mt-3 border-top border-gray-10" id="lpayment_data">
                          </div>
                          <div class="text-center">
                            <p class="text-danger d-none mt-1 mb-0" id="detail_error"><%= lan.Please_Enter_All_Detail %>..</p>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=lan.Close%></button>
                      <button class="btn btn-primary" type="submit" id="lwwithbtnc"><%= lan.Proceed %></button>
                    </div>
                </div>
            </div>
        </div>


    <%- include('./partials/footer'); -%>
    <%- include('./partials/script'); -%>
    </body>
</html>